@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500&display=swap');

@tailwind base;

html {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  @apply font-light;
}

body {
  padding-bottom: 80px;
  min-height: 100%;
}
@screen sm {
  body {
    padding-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-medium;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
h5 {
  @apply text-base;
}
h6 {
  @apply text-sm;
}

input, textarea {
  @apply border-solid border border-gray-400 p-2 rounded block w-full;
}

button, .button {
  @apply border-solid border border-gray-400 inline-block py-2 px-6 rounded;
}

@tailwind components;

.note-card {
  @apply mb-4 bg-gray-100 p-2 w-full shadow-md overflow-hidden;
}
@screen sm {
  .note-card {
    width: 22rem;
    @apply mr-4;
  }
}
.note-card-header {
  min-height: 2rem;
  @apply relative flex items-center pr-20;
}
.note-card-content {
  --lh: 1.6rem;
  line-height: var(--lh);
  --max-lines: 8;
  max-height: calc(var(--lh) * var(--max-lines));
  @apply overflow-hidden block h-full;
}
.note-card-content:not(:empty) {
  @apply mt-1;
}

.action-button {
  @apply p-0 w-8 h-8 inline-flex justify-center items-center border-0 text-2xl;
}

@tailwind utilities;
